extends ../layout

block content
  h1 Liste des Commentaires
  console.log(comments)
  if comments.length > 0
    ul
      each comment in comments
        li
<<<<<<< HEAD
          p id: #{comment.id}
          p Contenu: #{comment.content}
          p Créé le: #{comment.createdAt.toLocaleString()} 
          p Mis à jour le: #{comment.updatedAt.toLocaleString()}
          button(class="update" type="submit" method="PUT" onclick=`location.href='/comments/listComments/update/${comment.id}'`) Modifier

          button(class="delete" type="submit" ) Supprimer
  else
    p Aucun commentaire trouvé.
=======
          p Contenu: #{comment.content}
          p Créé le: #{comment.createdAt.toLocaleString()} 
          p Mis à jour le: #{comment.updatedAt.toLocaleString()}
  else
    p Aucun commentaire trouvé.
<<<<<<< HEAD
>>>>>>> 2dbc3e6 (formulaire pour créer en commentaire ok + afficher tous les commentaires sur une vue manque la possibilité de modifier et supprimer un commentaire)
=======
>>>>>>> 3378dac (formulaire pour créer en commentaire ok + afficher tous les commentaires sur une vue manque la possibilité de modifier et supprimer un commentaire)
>>>>>>> 685c5bc (formulaire pour créer en commentaire ok + afficher tous les commentaires sur une vue manque la possibilité de modifier et supprimer un commentaire)
